.rr{
    font-size: 1.2rem;
    
}

.rr1{
    margin-bottom: 3rem;
    font-size:1rem ;
}



 
 .shado{
   text-shadow: 4px 6px 5px black;
   font-size: 1rem;
}

.shado1{
   font-size: .8rem;
}